.imagenPrincipal {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}


.imagenSection {
    height: auto;
    margin-left: 33px;
    width: $doscientospixeles;
    display: grid;
    align-items: center;
    transition: transform 1.5s;
 
  &:hover{
    transform: scale(1.3);
  }
} 
  
 .section{
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
}
.fotoPortada{
  width: 500px;
}


@mixin ImagenVisual {
  
}