nav ul li {
    display: inline-block;
    margin: 10px;
    padding: 0px;
    font-weight: 500;
    border: 1px solid #996e2e;
    border-radius: 3px;
    padding: 5px 10px;

  &hover {
    background-color: rgb(167, 164, 142);
  }
} 